@font-face {
    font-family: "roboto_medium";
    src: url('./src/Roboto-Medium.ttf');
    } 

@font-face {
    font-family: "roboto_bold";
    src: url('./src/Roboto-Bold.ttf');
        } 
@font-face {
    font-family: "roboto_light";
    src: url('./src/Roboto-Light.ttf');
            } 
            


.name{
    display: flex;
    justify-content: space-between;
    width: 50%;
    color: #275a81;
    font-family: roboto_bold;
    margin-left: 20%;
    
}

.link{
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 100%;
    font-family: roboto_light;
   
    text-decoration:none; 
    flex-direction: row;
    bottom: 0;
    padding-bottom: 5%;

}

body{
    
    display: block;
    background: #ffcc2d;
    width: 90%;
    height: 90%;
    margin-left: 3%;
    
}

.trombi-grid{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

   

}

.pics{
    display: flex;
    width: 280px;
    height: 260px;
    justify-content: center;
    margin-right: 5%;
    margin-top: 1%;
    object-fit: cover;
    
}

.cards{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: white;
    padding: 1%;
    margin-left: 1%;
    height: 98%;
    margin-bottom: 1%;
}

.competences li{
    display: flex;
    
    font-family: roboto_medium;
    margin-left: 150%;
    
  
}

.competences{
    position: absolute;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 112%;
}





.descriptions{
    display: flex;
    text-align: justify;
    font-family: roboto_light;
    padding:3%;
    padding-bottom: 15%;
    
}

.promotions{
    display: flex;
    font-family: roboto_medium;
    color: #275a81;
    margin-left: 7%;
}

@media screen and (max-width: 1024px) {
    .trombi-grid{
       
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
                
 @media screen and (max-width: 800px) {
    .trombi-grid{
       
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
         
                }
 @media screen and (max-width:500px) {
        .trombi-grid{
         
        grid-template-columns: 1fr 1fr;}
                         
                                }

@media screen and (max-width:280px) {
        .trombi-grid{
                                     
        grid-template-columns: 1fr ;
    }
                                                     
}}

